-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bpn_tracking
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `berkas`
--

DROP TABLE IF EXISTS `berkas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `berkas` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nomor_pendaftaran` varchar(100) NOT NULL,
  `nama_pemohon` varchar(150) NOT NULL,
  `nik` varchar(20) DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `jenis_layanan` varchar(100) NOT NULL,
  `sertifikat_desa` varchar(255) DEFAULT NULL,
  `foto_bidang` varchar(255) DEFAULT NULL,
  `keterangan_foto` text DEFAULT NULL,
  `deskripsi_berkas` text DEFAULT NULL,
  `status_posisi` enum('loket','seksi_1','seksi_2','selesai','ditolak_ke_loket','ditolak_ke_seksi1') NOT NULL DEFAULT 'loket',
  `diinput_oleh` int(10) unsigned DEFAULT NULL,
  `petugas_tujuan_id` int(10) unsigned DEFAULT NULL,
  `deadline_at` datetime DEFAULT NULL,
  `sisa_sla_detik` int(11) DEFAULT NULL COMMENT 'Sisa detik SLA saat berkas dijeda/dikembalikan ke loket',
  `is_diterima_loket` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'flag konfirmasi loket setelah berkas selesai/ditolak kembali',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomor_pendaftaran` (`nomor_pendaftaran`),
  KEY `idx_status_posisi` (`status_posisi`),
  KEY `idx_nomor_pendaftaran` (`nomor_pendaftaran`),
  KEY `fk_berkas_diinput_oleh` (`diinput_oleh`),
  KEY `fk_berkas_petugas_tujuan` (`petugas_tujuan_id`),
  KEY `idx_deadline_at` (`deadline_at`),
  CONSTRAINT `fk_berkas_diinput_oleh` FOREIGN KEY (`diinput_oleh`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_berkas_petugas_tujuan` FOREIGN KEY (`petugas_tujuan_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `berkas`
--

LOCK TABLES `berkas` WRITE;
/*!40000 ALTER TABLE `berkas` DISABLE KEYS */;
/*!40000 ALTER TABLE `berkas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_pergerakan`
--

DROP TABLE IF EXISTS `log_pergerakan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_pergerakan` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_berkas` int(10) unsigned NOT NULL,
  `pengirim_id` int(10) unsigned DEFAULT NULL COMMENT 'user yang melakukan aksi',
  `penerima_id` int(10) unsigned DEFAULT NULL COMMENT 'user tujuan spesifik (opsional, biasanya tujuan berupa unit/role)',
  `aksi` enum('diinput','diteruskan','dikembalikan','selesai','diterima') NOT NULL,
  `status_sebelum` varchar(30) DEFAULT NULL,
  `status_sesudah` varchar(30) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_id_berkas` (`id_berkas`),
  KEY `fk_log_pengirim` (`pengirim_id`),
  KEY `fk_log_penerima` (`penerima_id`),
  CONSTRAINT `fk_log_berkas` FOREIGN KEY (`id_berkas`) REFERENCES `berkas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_log_penerima` FOREIGN KEY (`penerima_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_log_pengirim` FOREIGN KEY (`pengirim_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=195 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_pergerakan`
--

LOCK TABLES `log_pergerakan` WRITE;
/*!40000 ALTER TABLE `log_pergerakan` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_pergerakan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifikasi`
--

DROP TABLE IF EXISTS `notifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifikasi` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_berkas` int(10) unsigned DEFAULT NULL,
  `target_role` enum('admin','loket','seksi_1','seksi_2','all') NOT NULL,
  `target_user_id` int(10) unsigned DEFAULT NULL COMMENT 'Jika ditujukan ke user spesifik',
  `judul` varchar(150) NOT NULL,
  `pesan` text NOT NULL,
  `tipe` enum('masuk','kembali','selesai','warning','kritis','info') NOT NULL DEFAULT 'masuk',
  `link` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_notif_target` (`target_role`,`target_user_id`),
  KEY `idx_notif_created` (`created_at`),
  KEY `fk_notif_berkas` (`id_berkas`),
  KEY `fk_notif_target_user` (`target_user_id`),
  CONSTRAINT `fk_notif_berkas` FOREIGN KEY (`id_berkas`) REFERENCES `berkas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_notif_target_user` FOREIGN KEY (`target_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifikasi`
--

LOCK TABLES `notifikasi` WRITE;
/*!40000 ALTER TABLE `notifikasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifikasi_read`
--

DROP TABLE IF EXISTS `notifikasi_read`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifikasi_read` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `notifikasi_id` int(10) unsigned NOT NULL,
  `user_id` int(10) unsigned NOT NULL,
  `read_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_notif_user` (`notifikasi_id`,`user_id`),
  KEY `idx_read_user` (`user_id`),
  CONSTRAINT `fk_read_notifikasi` FOREIGN KEY (`notifikasi_id`) REFERENCES `notifikasi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_read_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifikasi_read`
--

LOCK TABLES `notifikasi_read` WRITE;
/*!40000 ALTER TABLE `notifikasi_read` DISABLE KEYS */;
INSERT INTO `notifikasi_read` VALUES (1,5,4,'2026-09-22 08:47:46'),(2,3,2,'2026-09-22 09:07:04'),(5,1,1,'2026-09-22 09:09:24'),(6,32,2,'2026-09-23 06:47:50'),(7,99,2,'2026-09-28 03:14:05');
/*!40000 ALTER TABLE `notifikasi_read` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL COMMENT 'di-hash dengan password_hash() / bcrypt',
  `password_plain` varchar(255) DEFAULT NULL,
  `nama_lengkap` varchar(150) NOT NULL,
  `role` enum('admin','loket','seksi_1','seksi_2') NOT NULL,
  `sub_bagian` enum('Pendaftaran','Peralihan','Penetapan') DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-27 20:18:07
